@model ProjetFinal_2128368.Models.Instrument

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Instrument</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modele)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modele)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrixMoy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrixMoy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateInvention)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateInvention)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fabricant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fabricant.FabricantId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Materiau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Materiau.MateriauId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.InstrumentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
